<!DOCTYPE html>
<html lang="en">

<head>
    <title>TimeTable</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="all" href="css/style_animation.css">

    <link rel="stylesheet" href="../static/css/index.css">

    <script>
        // Adăugați o funcție JavaScript pentru a redirecționa la ruta /student
        function redirectToStudent() {
            fetch('/student', { method: 'GET' })
            window.location.href = '/student';
        }

        // Adăugați o funcție JavaScript pentru a redirecționa la ruta /student
        function redirectToTeacher() {
            fetch('/student', { method: 'GET' })
            window.location.href = '/teacher';
        }
    </script>


</head>

<body>

    <header>
        <h2>Who are <span class="you">you?</span></h2>
    </header>

    <aside>

        <table>
            <tr>
                <td>
                    <div class="content_teacher_button">
                        <div class="box" , onclick="redirectToTeacher()">
                            <div class="content_person_inside">
                                <img class="imgSvg" src="static/img/teacher.svg" alt="">
                            </div>
                            <div class="box_inside_content_person_box">
                                <div class="buton_box_insidein_box">
                                    <div class="text_in_buton">Teacher</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </td>

                <td>
                    <div class="content_student_button">
                        <div class="box" , onclick="redirectToStudent()">
                            <div class="content_person_inside">
                                <img class="imgSvg" src="static/img/student.svg" alt="">
                            </div>
                            <div class="box_inside_content_person_box">
                                <div class="buton_box_insidein_box">
                                    <div class="text_in_buton">Student</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

            </tr>

        </table>

    </aside>

    <footer>
        <p>Footer</p>
    </footer>

</body>

</html>