<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;

}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */


/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
#myDiv {
  width: 100px;
  height: 100px;
  background-color: red;
  display: none; /* Inițial div-ul este invizibil */
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
</style>



</head>
<body>

<header>
  <section>
    <label for="selectOptions" >Select an option:</label>
    <select id="selectOptions" onchange="updateSecondComboBox()"   > 
      <option value="Anul 1">Anul 1</option>
      <option value="Anul 2">Anul 2</option>
      <option value="Anul 3">Anul 3</option>
      <option value="Anul 4">Anul 4</option>
  </select>
</section>
<div>
    <section>
      <label for="selectOptionsGrups">Select an option grup:</label>
      <select id="selectOptionsGrups" onchange="sendSelectedOptionGrups()"> </select>
     </section>
  </div>

</header>


<aside>
     asdfsrfsdf 
     <div id="excel_data" class="mt-5"></div>
     <table id="display_excel_data" border="1"></table>
</aside>


<footer>
  <p>Footer</p>
</footer>
<script>

  function updateSecondComboBox() {
    const selectOptions = document.getElementById("selectOptions");
    const selectedOption = selectOptions.value;

    const selectOptionsGrups = document.getElementById("selectOptionsGrups");

    fetch("/get_options_grups", {
        method: "POST", // sau "GET" în funcție de necesități
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({ selectedOption }),
    })
    .then(response => response.json())
    .then(data => {
        // Ștergeți opțiunile actuale din al doilea combobox
        selectOptionsGrups.innerHTML = "";

        // Adăugați opțiunile noi în al doilea combobox
        data.options.forEach(option => {
            const optionElement = document.createElement("option");
            optionElement.textContent = option;
            optionElement.value = option;
            selectOptionsGrups.appendChild(optionElement);
        });
    })
    .catch(error => {
        console.error("Error updating second combobox:", error);
    });
}

    function sendSelectedOptionGrups() {
      const selectOptionsGrups = document.getElementById("selectOptionsGrups");
      const selectedOptionGrups = selectOptionsGrups.value; // Obțineți valoarea opțiunii selectate
      // Trimiteți opțiunea aleasă către backend folosind o cerere AJAX
      fetch("/handle_selected_option_grups", {
        method: "POST", // sau "GET" în funcție de necesități
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ selectedOptionGrups }),
      })
        .then(response => response.blob())
        .then(blob => {
          // Afișați răspunsul de la backend în div-ul selectedOptionDisplay
          //const blob = new Blob([data], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"});
        //console.error(blob.length);
        excel_to_html_table_4(blob);
          

      // Revoke the temporary URL
         // window.URL.revokeObjectURL(url);
          //isplayJsonToHtmlTable(data);
          
        })
        .catch(error => {
          console.error("Error sending selected option:", error);
        });
    }


function excel_to_html_table_3(excel_blob) {
  var reader = new FileReader();
  reader.onload = function(event) {
    var data = new Uint8Array(event.target.result);
    var workbook = XLSX.read(data, { type: "array" });
    var sheet_name = workbook.SheetNames[0];
    var sheet_data = XLSX.utils.sheet_to_json(workbook.Sheets[sheet_name], { header: 1 });

    if (sheet_data.length > 0) {
      var table_output = '<table class="listViewTable table-sortable" id="listViewTable">';
      for (var row = 0; row < sheet_data.length; row++) {
        table_output += '<tr class="ce1 colorYellow">';
        for (var cell = 0; cell < sheet_data[row].length; cell++) {
          if (row == 0) {
            table_output += '<th class="name1 hsText">' + sheet_data[row][cell] + '</th>';
          } else {
            table_output += '<td class="entry1 hsText">' + sheet_data[row][cell] + '</td>';
          }
        }
        table_output += '</tr>';
      }
      table_output += '</table>';
      document.getElementById('excel_data').innerHTML = table_output;
    }
  };

  reader.readAsArrayBuffer(excel_blob);
}

function excel_to_html_table_4(excel_blob) {
  var reader = new FileReader();
  reader.onload = function(event) {
    var data = new Uint8Array(event.target.result);
    var workbook = XLSX.read(data, { type: "array" });
    var sheet_name = workbook.SheetNames[0];
    var sheet_data = XLSX.utils.sheet_to_json(workbook.Sheets[sheet_name], { header: 1 });

    if (sheet_data.length > 0) {
      var table_output = '<table class="listViewTable table-sortable" id="listViewTable">';
      for (var row = 0; row < sheet_data.length; row++) {
        table_output += '<tr class="ce1 colorYellow">';
        for (var cell = 0; cell < sheet_data[row].length; cell++) {
          // Verificăm dacă valoarea este undefined și o înlocuim cu un spațiu gol
          var cellValue = sheet_data[row][cell] === undefined ? '' : sheet_data[row][cell];
          
          if (row == 0) {
            table_output += '<th class="name1 hsText">' + cellValue + '</th>';
          } else {
            table_output += '<td class="entry1 hsText">' + cellValue + '</td>';
          }
        }
        table_output += '</tr>';
      }
      table_output += '</table>';
      document.getElementById('excel_data').innerHTML = table_output;
    }
  };

  reader.readAsArrayBuffer(excel_blob);
}


 

</script>
</body>
</html>

