<!DOCTYPE html>
<html lang="en">

<head>
  <title>TimeTable</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/teacher.css">

  <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
  <script src="../static/js/teacher.js"></script>

</head>

<body>

  <header>
    <div class="select_box">
      <table class="test_table">
        <tr class="test_tr">

          <td class="test_td">
            <div class="select_box">
              <section>
                <div class="select">
                  <select id="selectOptionsTeacher" onchange="checkScreenWidth(1)" name="format">
                    <option>-- Teacher --</option>
                  </select>
                </div>
              </section>
            </div>
          </td>

          <td class="test_td">
            <div class="select_box">
              <div class="con-input">
                <input placeholder="Name (V. Berco)" type="text" id="inputText" onkeyup="checkScreenWidth(0)">
                <i class='bx bx-user icon'></i>
                <div class="bg"></div>
              </div>
            </div>
          </td>

        </tr>
      </table>
    </div>

  </header>


  <aside>

    <div class="box_tabel">
      <div id="excel_data" class="mt-5"></div>
    </div>

  </aside>

  <footer>
    <p>Footer</p>
  </footer>

</body>

</html>